# Ambiente virtual
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Banco
*.db

# Variáveis
.env

# VSCode
.vscode/

# JetBrains
.idea/

# Chainlit
.chainlit/

# Logs
*.log

# Cache
.pytest_cache/
.mypy_cache/

# Sistema
.DS_Store
Thumbs.db