fastapi
uvicorn[standard]

sqlalchemy

pydantic

pydantic-settings

python-dotenv

python-jose[cryptography]

passlib[bcrypt]

requests

langchain
langchain-core
langchain-classic
langchain-ollama
langchain-qdrant

chainlit

qdrant-client

pytest